<p-card header="{{anuncio.titulo}}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <p-galleria [value]="anuncio.imagens"
                [circular]="true" [showItemNavigators]="true" [showThumbnails]="false"
                [showItemNavigatorsOnHover]="true">
      <ng-template pTemplate="item" let-imagem>
        <img [src]="imagem.url" style="width: 100%; display: block;"/>
      </ng-template>
    </p-galleria>
  </ng-template>
  <div class="position-relative">
    <p>{{anuncio.descricao}}</p>
    <p class="publicado-em">Publicado em: {{anuncio.dataPublicacao}}</p>
    <p>Categoria: {{anuncio.categoria.descricao}}</p>
    <p>Operação: {{anuncio.operacao}}</p>
    <div class="row">
      <label for="status" class="col-4" style="align-self: center;">Status </label>
      <p-autoComplete name="status"
                      id="status"
                      required
                      [(ngModel)]="anuncio.status"
                      (onClear)="onClearStatus()"
                      (onSelect)="updateStatus($event)"
                      (completeMethod)="statusComplete($event)"
                      [suggestions]="statusSugestions"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [ngClass]="'col-8'"
                      appendTo="body"
                      [disabled]="!showUpdateStatusDono()"
                      [pTooltip]="getTooltip$(anuncio.status?.toString()) | async">
      </p-autoComplete>
    </div>

    <p>Caracteristicas: <a class="small_a" (click)="showDialogCaracteristicas=true">Exibir</a></p>
  </div>
  <ng-template pTemplate="footer">
    <div *ngIf="anuncio.ehUsuarioOrigem; else btnUpdateStatus" class="text-center btn-card">
      <a class="text-decoration-none" href="http://localhost:4200/anuncio/form?id={{anuncio?.id}}">
        <p-button label="Acessar Cadastro" icon="pi pi-check"></p-button>
      </a>
    </div>
    <ng-template #btnUpdateStatus>
      <div class="text-center btn-card">
        <p-button label="{{getLabel()}}" icon="pi pi-check" (onClick)="updateStatusUsuarioLogado()"
                  [disabled]="updateStatusDisabled()"></p-button>
      </div>
    </ng-template>
  </ng-template>
</p-card>


<p-dialog [showHeader]="false" [(visible)]="showDialogCaracteristicas" [baseZIndex]="10000"
          [style]="{width: '50vw', maxWidth:'1000px', minWidth:'800px'}">
  <app-caracteristicas [caracteristicas]="caracteristicas" [readOnly]="true" [isAnuncioCard]="true"
                       [(showDialogCaracteristicas)]="showDialogCaracteristicas"></app-caracteristicas>
</p-dialog>
