.btn-card{
  bottom: 25px!important;
  position: absolute;
  width: 100%!important;
  left: 0;
}

.publicado-em{
  position: absolute;
  right: 0;
  top:-20px;
  font-size: 9pt;
}

.label-complete{
  margin-bottom: 15px;
  padding-top: 7px;
}
.m-b-10px{
  margin-bottom: 10px;
}

p{
  margin-bottom: 10px;
}
