<p-card header="{{anuncio.titulo}}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <p-galleria [value]="anuncio.imagens"
                [circular]="true" [showItemNavigators]="true" [showThumbnails]="false"
                [showItemNavigatorsOnHover]="true">
      <ng-template pTemplate="item" let-imagem>
        <img [src]="imagem?.url" [alt]="imagem?.nome" style="width: 100%; display: block;"/>
      </ng-template>
    </p-galleria>
  </ng-template>
  <div class="position-relative">
    <p>{{anuncio.descricao}}</p>
    <p class="publicado-em">Publicado em: {{anuncio.dataPublicacao}}</p>
    <div class="row">
      <p class="col-5 adjust-text" [pTooltip]="'Categoria'">Categoria</p>
      <p class="col-7">{{anuncio.categoria.descricao}}</p>
      <p class="col-5 adjust-text" [pTooltip]="'Operação'">Operação</p>
      <p class="col-7">{{anuncio.operacao}}</p>
      <label for="status" class="col-5 m-b-26px" style="align-self: center;">Status</label>
      <p-autoComplete name="status"
                      id="status"
                      required
                      [(ngModel)]="anuncio.status"
                      (onClear)="onClearStatus()"
                      (onSelect)="updateStatus()"
                      (completeMethod)="statusComplete($event)"
                      [suggestions]="statusSugestions"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [ngClass]="'col-7'"
                      appendTo="body"
                      [disabled]="!showUpdateStatusDono()"
                      [pTooltip]="getTooltip$(anuncio.status?.toString()) | async">
      </p-autoComplete>
      <p class="col-5 adjust-text" [pTooltip]="'Caracteristicas'">Caracteristicas</p>
      <a class="small_a col-7" (click)="showDialogCaracteristicas=true">Exibir</a>
      <p class="col-5 adjust-text" [pTooltip]="'Anunciante'">Anunciante</p>
      <a class="small_a col-7" (click)="showDialogUsuario=true">Exibir</a>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div *ngIf="anuncio.ehUsuarioOrigem; else btnUpdateStatus" class="text-center btn-card">
      <a class="text-decoration-none" href="http://localhost:4200/anuncio/form?id={{anuncio?.id}}">
        <p-button label="Acessar Cadastro" icon="pi pi-check"></p-button>
      </a>
    </div>
    <ng-template #btnUpdateStatus>
      <div class="text-center btn-card">
        <p-button label="{{getLabel()}}" icon="pi pi-check" (onClick)="updateStatusUsuarioLogado()"
                  [disabled]="updateStatusDisabled()"></p-button>
      </div>
    </ng-template>
  </ng-template>
</p-card>

<p-dialog [showHeader]="true"
          [(visible)]="showDialogCaracteristicas"
          [baseZIndex]="10000"
          [modal]="true"
          [closable]="true"
          [style]="{width: '50vw', maxWidth:'1000px', minWidth:'800px'}">
  <app-caracteristicas [caracteristicas]="caracteristicas" [readOnly]="true" [isAnuncioCard]="true"
                       [(showDialogCaracteristicas)]="showDialogCaracteristicas"></app-caracteristicas>
</p-dialog>

<p-dialog [showHeader]="true"
          [(visible)]="showDialogUsuario"
          [baseZIndex]="10000"
          [closable]="true"
          [modal]="true"
          [style]="{width: '50vw', maxWidth:'1000px', minWidth:'800px'}">
  <app-usuario-dialog [usuario]="anuncio.usuarioOrigem" [(showDialogUsuario)]="showDialogUsuario"></app-usuario-dialog>
</p-dialog>
