<p-card header="{{anuncio.titulo}}" subheader="{{anuncio.descricao}}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <p-galleria [value]="anuncio.imagens" [containerStyle]="{'max-width': '640px'}"
                [circular]="true" [showItemNavigators]="true" [showThumbnails]="false"
                [showItemNavigatorsOnHover]="true">
      <ng-template pTemplate="item" let-imagem>
        <img [src]="imagem.url" style="width: 100%; display: block;"/>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-imagem>
        <div class="p-grid p-nogutter p-justify-center">
          <img [src]="imagem.url" style="display: block; height: 80px!important;"/>
        </div>
      </ng-template>
    </p-galleria>
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
              [style]="{'margin-left': '.5em'}"></p-button>
  </ng-template>
</p-card>
