<p-sidebar [(visible)]="showFilter" [baseZIndex]="10000">
  <h3 class="pt-3">Filtros</h3>
  <div class="row">
    <div class="col-12 pt-2">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text"
               name="titulo"
               id="titulo"
               pInputText
               [(ngModel)]="filter.titulo"/>
      </div>
    </div>


    <div class="col-12 pt-2">
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text"
               name="descricao"
               id="descricao"
               pInputText
               [(ngModel)]="filter.descricao"/>
      </div>
    </div>

    <div class="col-12 pt-2">
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <p-autoComplete name="categoria"
                        id="categoria"
                        [dropdown]="true"
                        [forceSelection]="true"
                        [(ngModel)]="filter.categoria"
                        field="descricao"
                        [suggestions]="categorias"
                        (onClear)="filter.categoria = null"
                        (completeMethod)="categoriaComplete($event)"
                        [pTooltip]="getTooltip$(filter.categoria?.descricao) | async">
          <ng-template let-categoria pTemplate="categoria">
            <span>{{categoria?.descricao}}</span>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div class="col-12 pt-2">
      <div class="form-group">
        <label for="operacao">Operação</label>
        <p-autoComplete name="operacao"
                        id="operacao"
                        [(ngModel)]="filter.operacao"
                        [dropdown]="true"
                        [forceSelection]="true"
                        (onClear)="filter.operacao = null"
                        [suggestions]="operacoesSugestions"
                        (completeMethod)="operacaoComplete($event)"
                        [pTooltip]="getTooltip$(filter.operacao?.toString()) | async">
        </p-autoComplete>
      </div>
    </div>

    <div class="col-12 pt-2">
      <div class="form-group">
        <label for="status">Status</label>
        <p-autoComplete name="status"
                        id="status"
                        [(ngModel)]="filter.status"
                        [dropdown]="true"
                        [forceSelection]="true"
                        (onClear)="filter.status = null"
                        [suggestions]="statusSugestions"
                        (completeMethod)="statusComplete($event)"
                        [pTooltip]="getTooltip$(filter.status?.toString()) | async">
        </p-autoComplete>
      </div>
    </div>

    <div class="col-12 pt-2">
      <div class="form-group">
        <label>
          Data de Publicação
        </label>
        <div class="row">
          <div class="col-5">
            <p-calendar [(ngModel)]="filter.dataPublicacaoMin"
                        [yearNavigator]="true"
                        [monthNavigator]="true"
                        [showIcon]="true"
                        [yearRange]="'2022:2100'"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        id="dataPublicacaoMin"
                        name="dataPublicacaoMin"></p-calendar>
          </div>
          <div class="col-2 text-center">
            <label>até</label>
          </div>
          <div class="col-5">
            <p-calendar [(ngModel)]="filter.dataPublicacaoMax"
                        [yearNavigator]="true"
                        [monthNavigator]="true"
                        [showIcon]="true"
                        [yearRange]="'2022:2100'"
                        appendTo="body"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        id="dataPublicacaoMax"
                        name="dataPublicacaoMax"></p-calendar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 pt-2">
      <div class="form-group">
        <label for="estado">Estado</label>
        <p-autoComplete name="estado"
                        id="estado"
                        [dropdown]="true"
                        [forceSelection]="true"
                        [(ngModel)]="filter.estado"
                        field="nome"
                        [suggestions]="estados"
                        (onClear)="clearEstado()"
                        (completeMethod)="estadoComplete($event)"
                        (onSelect)="filter.cidade = null"
                        [pTooltip]="getTooltip$(filter.estado?.uf, filter.estado?.nome)  | async">
          <ng-template let-estado pTemplate="estado">
            <span class="id w-35-px">{{estado?.uf}}</span>
            <span>{{estado?.nome}}</span>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div class="col-12 pt-2">
      <div class="form-group" [disabledLabelAndSpan]="!filter.estado">
        <label for="cidade">Cidade</label>
        <p-autoComplete name="cidade"
                        id="cidade"
                        [dropdown]="true"
                        [forceSelection]="true"
                        [(ngModel)]="filter.cidade"
                        field="nome"
                        [suggestions]="cidades"
                        [disabled]="!filter.estado"
                        (onClear)="filter.cidade = null"
                        (completeMethod)="cidadeComplete($event)"
                        [pTooltip]="getTooltip$(filter?.cidade?.estado?.uf, filter?.cidade?.nome) | async">
          <ng-template let-cidade pTemplate="cidade">
            <span>{{cidade?.nome}}</span>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>

    <div *ngIf="isAuthenticated" class="row pt-2">
      <div class="col-6">
        <div class="form-group">
          <div class="p-field-checkbox">
            <p-checkbox
              [(ngModel)]="filter.anunciei"
              (onChange)="filter.adquiri = false"
              binary="true"></p-checkbox>
            <label>Anunciei</label>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <div class="p-field-checkbox">
            <p-checkbox
              [(ngModel)]="filter.adquiri"
              (onChange)="filter.anunciei = false"
              binary="true"></p-checkbox>
            <label>Adquiri</label>
          </div>
        </div>
      </div>
    </div>

  </div>


  <p-button class="btn-filter-sidebar btn-apply-filter" label="Filtrar" icon="pi pi-search"
            (onClick)="applyFilter()"></p-button>
  <p-button class="btn-filter-sidebar btn-clear-filter" label="Limpar" icon="pi pi-trash"
            (onClick)="resetFilter()"></p-button>
</p-sidebar>

<p-button type="button" class="btn-filter" (onClick)="showFilter = true" icon="pi pi-filter"></p-button>
