.btn-filter {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.btn-filter-sidebar{
  position: absolute;
  bottom: 30px;
}
.btn-apply-filter {
  left: 85px;
}

.btn-clear-filter {
  right: 85px;
}

::ng-deep .btn-filter-sidebar .p-button{
  width: 115px!important;
}

.col-12 .form-group label{
  padding-top: 10px;
}

.p-field-checkbox > label, .p-field-radiobutton > label {
  margin-left: 0.5rem;
}
.p-field-checkbox{
  line-height: 1!important;
  padding-top: 10px;
}

