<p-card class="card-caracteristicas">
  <p-header>Características</p-header>

  <p-table #table
           [value]="caracteristicas">
    <ng-template pTemplate="header">
      <tr>
        <th class="w-p-45">Título</th>
        <th class="w-p-45">Descrição</th>
        <th class="w-p-10" *ngIf="!readOnly"></th>

      </tr>
    </ng-template>
    <ng-template let-rowData pTemplate="body" let-columns="columns" let-rowIndex="rowIndex">
      <tr class="table-body-line">
        <td>
          <div class="form-group">
            <input type="text"
                   [id]="'caracteristicaKey' + rowIndex"
                   [name]="'caracteristicaKey' + rowIndex"
                   (ngModelChange)="change()"
                   [disabled]="readOnly"
                   pInputText
                   required
                   [(ngModel)]="rowData.key"/>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text"
                   [id]="'caracteristicaValue' + rowIndex"
                   [name]="'caracteristicaValue' + rowIndex"
                   (ngModelChange)="change()"
                   pInputText
                   required
                   [disabled]="readOnly"
                   [(ngModel)]="rowData.value"/>
          </div>
        </td>

        <td *ngIf="!readOnly" >
          <i class="btn pi pi-trash "
             (click)="remover(rowIndex)"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-footer>
    <div class="col-12 text-center pt-0 pb-3">
      <p-button *ngIf="isAnuncioCard; else btnAdicionar" label="Fechar" icon="pi pi-times" (onClick)="showDialogCaracteristicasChange.emit(false)" ></p-button>
      <ng-template #btnAdicionar> <p-button label="Adicionar" icon="pi pi-plus" (onClick)="adicionar()" [disabled]="readOnly"></p-button></ng-template>
    </div>
  </p-footer>
</p-card>
