<form id="form" #form="ngForm" class="my-form center-card">
  <p-card>
    <p-header>
      Redefinir Senha
    </p-header>
    <div class="row pt-3">
      <div class="field col-12">
        <div class="form-group">
             <span class="p-float-label p-input-icon-left col-12">
                <i class="pi pi-unlock"></i>
               <p-password name="password"
                           [(ngModel)]="passwordDto.newPassword"
                           [toggleMask]="true"
                           required
                           [inputId]="'password'"
                           [weakLabel]="'Fraca'"
                           [mediumLabel]="'Média'"
                           [strongLabel]="'Forte'"
                           [promptLabel]="'Escolha sua senha'"
                           [mediumRegex]="'^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{4,}).'"
                           [strongRegex]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})'"
                           validatePassword>
                      <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="p-mt-2">A senha deve conter:</p>
                  <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                    <li>Pelo menos uma letra minúscula</li>
                    <li>Pelo menos uma letra maiúscula</li>
                    <li>Pelo menos um número</li>
                    <li>No mínimo 6 caracteres</li>
                  </ul>
                </ng-template>
               </p-password>
               <label>Nova Senha</label>
            </span>
        </div>
      </div>
    </div>
    <div class="col-12 text-center pt-3">
      <p-button label="Redefinir" icon="pi pi-check" (onClick)="redefinir()"></p-button>
    </div>

  </p-card>
</form>
