
<form id="form" #form="ngForm" class="my-form center-card">
  <p-card>
    <p-header>
      Login
    </p-header>
    <div class="row">
      <div class="field col-12">
        <div class="form-group">
            <span class="p-float-label p-input-icon-left col-12 mt-4 mb-5">
                <i class="pi pi-user"></i>
                <input type="text"
                       name="username"
                       id="inputtext-left"
                       pInputText
                       [(ngModel)]="registro.username"
                       required>
                <label for="inputtext-left">Usuário</label>
            </span>
        </div>
      </div>
      <div class="field col-12">
        <div class="form-group">
           <span class="p-float-label p-input-icon-left col-12">
                <i class="pi pi-unlock"></i>
                <p-password class="col-12"
                            [inputId]="'password'"
                            name="password"
                            [(ngModel)]="registro.password"
                            [mediumRegex]="'^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{4,}).'"
                            [strongRegex]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})'"
                            id="component-password"
                            [toggleMask]="true"
                            [promptLabel]="'Adicione sua senha'"
                            [weakLabel]="'Fraca'"
                            [mediumLabel]="'Média'"
                            [strongLabel]="'Forte'"
                            required
                            validatePassword></p-password>
                <label for="component-password">Senha</label>

            </span>
          <div class="text-end">
            <small>Esqueceu a senha? <a class="small_a"
                                        href="/usuario/resetPassWord">Redefinir</a></small>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 text-center pt-3">
      <p-button label="Acessar" icon="pi pi-check" [disabled]="loginService.isAuthenticated"
                (onClick)="acessar()"></p-button>
      <div class="row  col-12 mt-2">
        <small>Não é cadastrado? <a class="small_a"
                                     href="/usuario/form">Cadastre-se</a></small>
      </div>
    </div>
  </p-card>
</form>
