<form id="form" #form="ngForm" class="my-form p-0-30-porcent mt-5">
  <p-card >
    <p-header>
      Redefinir Senha
    </p-header>
    <div class="row">
      <div class="col-12">
        <small>Para redefinir sua senha, informe o usuário cadastrado na sua conta e lhe enviaremos um link com as instruções.</small>
      </div>
      <div class="field col-12">
        <div class="form-group">
            <span class="p-float-label p-input-icon-left col-12 mt-4 mb-5">
                <i class="pi pi-user"></i>
                <input type="text"
                       name="username"
                       id="inputtext-left"
                       pInputText
                       [(ngModel)]="username"
                        required>
                <label for="inputtext-left">Usuário Cadastrado</label>
            </span>
        </div>
      </div>
    </div>
      <div class="col-12 text-center pt-3">
        <p-button label="Enviar" icon="pi pi-check" (click)="enviar()"></p-button>
      </div>
  </p-card>
</form>
