.divImagem{
  width: 200px!important;
  height: 200px!important;
}

//.my-image{
//  max-width: 100%!important;
//  height: auto!important;
//}

.edit-image{
  position: absolute;
  top: 50%;
  right: 53%;
}

.delete-image{
  position: absolute;
  top: 50%;
  right: 41%;
}

.icon-image{
  display: none;
}

.divImagem:hover .icon-image{
  display: block;
}

.p-0-20-porcent{
  padding: 0 20% !important;
}

.p-field-checkbox > label, .p-field-radiobutton > label {
  width: 100%;
}

