.divImagem{
  width: 200px!important;
  height: 200px!important;
}

//.my-image{
//  max-width: 100%!important;
//  height: auto!important;
//}

.edit-image{
  right: 102px;
}

.delete-image{
  right: 68px;
}

.icon-image{
  display: none;
  position: absolute;
  top: 44%;
  padding: 3px 6px;
}

.divImagem:hover .icon-image{
  display: block;
}

.p-field-checkbox > label, .p-field-radiobutton > label {
  width: 100%;
}
