<form id="form" #form="ngForm" class="my-form p-0-20-porcent">
  <p-card>
    <p-header>
      Dados Pessoais
    </p-header>
    <div class="row">
      <div class="col-12 col-md col-xl-4 col-xxl-2">
        <div class="form-group" >
          <div class="position-relative divImagem ms-sm-auto me-sm-auto">
            <img id="imagem" [src]="registro.imagem" class="image img-thumbnail divImagem" alt="Image Profile"/>
            <i (click)="showUpfile()" [ngClass]="((registro.vadationInstitution  ? 'disabled ': '') + 'btn pi pi-pencil edit-image icon-image')"></i>
            <i (click)="deleteFile()"
               [ngClass]="(((isDefaultImage() || registro.vadationInstitution  ) ? 'disabled ': '') +'btn pi pi-trash delete-image icon-image')"></i>
          </div>
          <div [hidden]="true"><input id="upfile" type="file" value="upload" (change)="selectFile($event)"/>
          </div>
        </div>
      </div>
      <div class="col-12 col-md col-xl-2 col-xxl-4  mt-sm-3  mt-md-0">
        <div class="form-group" [disabledLabelAndSpan] = "registro.vadationInstitution ">
          <div class="p-field-checkbox text-center">
            <label for="ehInstituicao">Instituição</label>
            <p-checkbox
              [(ngModel)]="registro.ehInstitution"
              [disabled]="registro.vadationInstitution "
              binary="true"
              inputId="ehInstitution"
              name="ehInstituicao"></p-checkbox>
          </div>
        </div>
      </div>

      <div class="col-12 col-md col-xl-6">
        <div class="form-group" [disabledLabelAndSpan] = "registro.vadationInstitution">
          <label for="apelido">{{registro.ehInstitution ? 'Razão Social' : 'Apelido'}}</label>
          <span class="obrigatorio">*</span>
          <input type="text"
                 name="apelido"
                 id="apelido"
                 [disabled]="registro.vadationInstitution "
                 pInputText
                 required
                 [(ngModel)]="registro.nome"/>
        </div>
      </div>
    </div>
  </p-card>
  <div class="separador-card"></div>
  <p-card>
    <p-header>
      Contato
    </p-header>
    <div class="row">
      <div class="col-12 col-md col-xl-6">
        <div class="form-group" [disabledLabelAndSpan] = "registro.vadationInstitution">
          <label for="email">E-mail</label>
          <span class="obrigatorio">*</span>
          <input type="email"
                 name="email"
                 id="email"
                 [email]="true"
                 [disabled]="registro.vadationInstitution "
                 pInputText
                 required
                 [(ngModel)]="registro.email"/>
        </div>
      </div>

      <div class="col-12 col-md col-xl-6">
        <div class="form-group" [disabledLabelAndSpan] = "registro.vadationInstitution">
          <label for="telefone">Telefone</label>
          <span class="obrigatorio">*</span>
          <input [(ngModel)]="registro.telefone"
                 mask="(00) 0 0000-0000 || (00) 0000-0000"
                 id="telefone"
                 [disabled]="registro.vadationInstitution "
                 pInputText
                 maxlength="16"
                 name="telefone"
                 type="text"
                 required/>
        </div>
      </div>
    </div>
  </p-card>
  <div class="separador-card"></div>
  <p-card>
    <p-header>
      Endereço
    </p-header>
    <div class="row">
      <div class="col-12 col-md col-xl-6">
        <div class="form-group" [disabledLabelAndSpan] = "registro.vadationInstitution">
          <label for="estado">Estado</label>
          <span class="obrigatorio">*</span>
          <p-autoComplete name="estado"
                          id="estado"
                          required
                          [dropdown]="true"
                          [forceSelection]="true"
                          [(ngModel)]="estado"
                          field="nome"
                          [suggestions]="estados"
                          [disabled]="registro.vadationInstitution "
                          (onClear)="estado = null"
                          (completeMethod)="estadoComplete($event)"
                          (onSelect)="registro.cidade = null"
                          [title]="getTooltip$(estado?.uf, estado?.nome)  | async"
                          [pTooltip]="getTooltip$(estado?.uf, estado?.nome)  | async">
            <ng-template let-estado pTemplate="estado">
              <span class="id w-35-px">{{estado?.uf}}</span>
              <span>{{estado?.nome}}</span>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>

      <div class="col-12 col-md col-xl-6">
        <div class="form-group" [disabledLabelAndSpan]="!estado || registro.vadationInstitution ">
          <label for="cidade">Cidade</label>
          <span class="obrigatorio">*</span>
          <p-autoComplete name="cidade"
                          id="cidade"
                          required
                          [dropdown]="true"
                          [forceSelection]="true"
                          [(ngModel)]="registro.cidade"
                          field="nome"
                          [suggestions]="cidades"
                          [disabled]="!estado || registro.vadationInstitution "
                          (onClear)="registro.cidade = null"
                          (completeMethod)="cidadeComplete($event)"
                          [pTooltip]="getTooltip$(registro?.cidade?.estado?.uf, registro?.cidade?.nome) | async"
                          [title]="getTooltip$(registro?.cidade?.estado?.uf, registro?.cidade?.nome) | async">
            <ng-template let-cidade pTemplate="cidade">
              <span>{{cidade?.nome}}</span>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
    </div>
  </p-card>
  <div *ngIf="!registro?.id" class="separador-card"></div>
  <p-card *ngIf="!registro?.id">
    <p-header>
      Dados para Login
    </p-header>
    <div class="row">
      <div class="col-12 col-md col-xl-6">
        <div class="form-group">
          <label for="username">Usuário</label>
          <span class="obrigatorio">*</span>
          <input type="text"
                 name="username"
                 id="username"
                 pInputText
                 required
                 [(ngModel)]="registro.username"/>
        </div>
      </div>

      <div class="col-12 col-md col-xl-6">
        <div class="form-group">
          <label>Senha</label>
          <span class="obrigatorio">*</span>
          <p-password
            name="password"
            [(ngModel)]="registro.password"
            [toggleMask]="true"
            required
            [inputId]="'password'"
            [weakLabel]="'Fraca'"
            [mediumLabel]="'Média'"
            [strongLabel]="'Forte'"
            [promptLabel]="'Adicione uma senha'"
            [mediumRegex]="'^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{4,}).'"
            [strongRegex]="'^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})'"
            validatePassword>
            <ng-template pTemplate="header">
              <h6>Escolha sua senha</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="p-mt-2">A senha deve conter:</p>
              <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                <li>Pelo menos uma letra minúscula</li>
                <li>Pelo menos uma letra maiúscula</li>
                <li>Pelo menos um número</li>
                <li>No mínimo 6 caracteres</li>
              </ul>
            </ng-template>
          </p-password>
        </div>
      </div>
    </div>
  </p-card>
  <div class="col-12 text-center pt-3 pb-3">
    <p-button *ngIf="registro.vadationInstitution; else btnSalvar" label="Validar Cadastro" icon="pi pi-check" (click)="validarCadastro()"></p-button>
    <ng-template #btnSalvar><p-button label="Salvar" icon="pi pi-check" (click)="salvar(registro)"></p-button></ng-template>
  </div>
</form>
