$purple-shadow: rgba(103, 0, 154, 0.5) !default;
$purple:  #883cae !default;
$purple-submenu: #9455b4 !default;
$borderColor: #c0bfbf;
$white: #ffffff;
$primary-font: 'Lato', sans-serif;
$height-toolbar: 64px;
