@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background: #eff3f8;
  height: 100%;
}

* {
  font-family: $primary-font;
}

.id {
  border-right: 1px solid $borderColor;
  display: inline-block;
  min-width: 40px;
  margin-right: 10px;
}

.w-35-px {
  width: 35px;
}

.p-0-20-porcent{
  padding: 0 20% !important;
}

.obrigatorio {
  padding-left: 6px;
}

.disabled {
  opacity: 0.65;
  pointer-events: none;
}

.center-card {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50% + #{$height-toolbar}/2);
  transform: translateY(-50%);
  max-width: 35%;
}

.center-card .p-card {
  min-width: 280px;
}

.separador-card {
  height: 20px;
}

.small_a {
  color: #505050;
}

.small_a:hover {
  color: #7e7e7e;
  cursor: pointer;
}

small, .small {
  font-size: 0.875em;
  color: #505050;
}

.adjust-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
